<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body.dark-mode {
            background-color: #333;
            color: #fff;
        }
    </style>
    <script>
        function confirmDelete(event, itemType) {
            const confirmed = confirm(`Czy chcesz usunac ${itemType}?`);
            if (!confirmed) {
                event.preventDefault();
            }
        }

        function toggleDescription(productId, description) {
            var descriptionSpan = document.getElementById('description' + productId);
            var button = event.target;
            if (descriptionSpan.innerText.length === 15) {
                descriptionSpan.innerText = description;
                button.innerText = 'Zwiń';
            } else {
                descriptionSpan.innerText = description.substring(0, 15);
                button.innerText = '...';
            }
        }

        function toggleDarkMode() {
            document.body.classList.toggle('dark-mode');
        }
    </script>
</head>
<body>
    <button onclick="toggleDarkMode()">Zmień na tryb ciemny</button>
    
    <div class="container">
        <h1>Witaj w Markecie</h1>
        <% if (user) { %>
            <p>Witaj, <%= user.first_name %> <%= user.last_name %>!</p>
            <a href="/logout"><button>Wyloguj się</button></a>
            <a href="/cart"><button>koszyk</button></a>
            <a href="/orders"><button>Zobacz swoje zamówienia</button></a>
            <a href="/products/new"><button>Dodaj nowy produkt</button></a>
            <% if (user.role === 'admin') { %>
                <a href="/admin"><button>Admin panel</button></a>
            <% } %>
        <% } else { %>
            <a href="/login"><button>Zaloguj</button></a>
            <a href="/register"><button>Zarejestruj się</button></a>
        <% } %>
        
        <h2>Produkty dostępne do kupienia:</h2>
        <div>
            <span>Sortuj według:</span>
            <a href="/?sortBy=name"><button>Nazwa</button></a> |
            <a href="/?sortBy=price"><button>Cena</button></a>
        </div>
        
        <ul>
            <% products.forEach(product => { %>
                <li>
                    <%= product.name %> - <%= product.price %> PLN - 
                    <% if (product.description.length > 15) { %>
                        <span id="description<%= product.id %>"><%= product.description.substring(0, 15) %></span>
                        <button onclick="toggleDescription('<%= product.id %>', '<%= product.description %>')">...</button>
                    <% } else { %>
                        <%= product.description %>
                    <% } %>
                    <% if (user) { %>
                        <form action="/cart" method="post" style="display:inline;">
                            <input type="hidden" name="product_id" value="<%= product.id %>">
                            <input type="number" name="quantity" value="1" min="1" required>
                            <button type="submit">Dodaj do koszyka</button>
                        </form>
                        <% if (user.id === product.user_id || user.role === 'admin') { %>
                            <a href="/products/<%= product.id %>/edit"><button>Edytuj</button></a>
                            <form action="/products/<%= product.id %>/delete?_method=DELETE" method="post" style="display:inline;" onsubmit="confirmDelete(event, 'product')">
                                <button type="submit">Usuń</button>
                            </form>                            
                        <% } %>
                    <% } %>
                </li>
            <% }) %>
        </ul>

        <div>
            <% if (currentPage > 1) { %>
                <a href="/?page=<%= currentPage - 1 %>&limit=<%= limit %>&sortBy=<%= sortBy %>"><button>Previous</button></a>
            <% } %>
    
            Page <%= currentPage %> of <%= totalPages %>
            
            <% if (currentPage < totalPages) { %>
                <a href="/?page=<%= currentPage + 1 %>&limit=<%= limit %>&sortBy=<%= sortBy %>"><button>Next</button></a>
            <% } %>
        </div>
    </div>
</body>
</html>
